<%- include('../includes/header') %>
  <link rel="stylesheet" href="/css/add-product.css" />
  </head>

  <body>
    <%- include('../includes/navigation') %>

    <main>
      <h2><% if (edit) { %>Edit Product<% } else { %>Add Product<% } %></h2>
      <form action="/admin/<% if (edit) {%>edit-product/<%= product._id %><% } else { %>add-product<% } %>" method="POST">
        <div>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" required value="<% if (edit) {%><%= product.title %><% } %>"/>
        </div>
        <div>
          <label for="price">Price</label>
          <input type="number" id="price" name="price" required value="<% if (edit) {%><%= product.price %><% } %>"/>
        </div>
        <div>
          <label for="description">Description</label>
          <textarea id="description" name="description" required><% if (edit) {%><%= product.description %><% } %></textarea>
        </div>
        <button type="submit"><% if (edit) { %>Edit Product<% } else { %>Add Product<% } %></button>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    </main>
  </body>
</html>