<%- include('../includes/header') %>
  <link rel='stylesheet' href='/css/all-products.css'>
  </head>

  <body>
    <%- include('../includes/navigation') %>

    <main>
      <h1>All Products</h1>
      <% if (products.length === 0) { %>
        <p>No products found</p>
      <% } else { %>
        <p>We have a wide range of products for you to choose from</p>
      <% } %>
      
      <div class="products">
        <% for (let product of products) { %>
          <div class="product">
            <img src="/productImages/<%= product.imagePath %>" alt="Product" />
            <h2><%= product.title %></h2>
            <p>Price: $<%= product.price %></p>
            <button><a href="/products/<%= product._id %>">View Details</a></button>
            <button><a href="/admin/edit-product/<%= product._id %>">Edit</a></button>
            <form action="/admin/delete-product" method="post" >
              <input type="hidden" name="_id" value="<%= product._id %>"/>
              <input type="hidden" name="oldImage" value="<%= product.imagePath %>"/>
              <button type="submit">Delete</button>

              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
          </div>
        <% } %>
      </div>
    </main>
  </body>
</html>

