<%- include('../includes/header') %>
  <link rel='stylesheet' href='/css/all-products.css'>
  </head>

  <body>
    <%- include('../includes/navigation') %>

    <main>
      <h1 style="text-align: center;">Current Product</h1>
      
      <div class="products">
          <div class="product" style="margin: 20px auto;width: 50%;">
            <img src="/productImages/<%= product.imagePath %>" alt="Product" />
            <h2><%= product.title %></h2>
            <p><%= product.description %></p>
            <p>Price: $<%= product.price %></p>
            
            <% if (role === "admin") { %>
              <button><a href="/admin/edit-product/<%= product._id %>">Edit</a></button>
              <form action="/admin/delete-product" method="post" >
                <input type="hidden" name="_id" value="<%= product._id %>"/>
                <button type="submit">Delete</button>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            <% } else { %> 
              <form action="/cart" method="POST">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <button type="submit">Add to Cart</button>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              </form>
            <% } %>
          </div>
      </div>
    </main>
  </body>
</html>

